body{
    background-color: #10002B;
}

h1{
    color: white;
}
h2{
    color: white;
}
header{
    background-color: #7B2CBF;
}

.textA{
    background-color: #FFF9EB;
}

.card{
    background-color: #FFF9EB;
    width: 500px;
    height: 500px;
}

p{
    color: #5A189A;
}