@font-face {
    font-family: CT;
    src: url(font/CrimsonText-Regular.ttf) format(truetype);
    /*Ajout des fonts*/
    font-family: Rampart;
    src: url(font/RampartOne-Regular.ttf) format(truetype);
}

body {
    background-color: #10002B;
}

a {
    color: white;
    font-family: CT;
}

h1 {
    color: white;
    font-family: Rampart;
}

h2 {
    color: white;
    text-align: center;
    padding-top: 5vh;
    font-family: Rampart;
}

h3 {
    color: #5A189A;
    font-family: Rampart;
}

.D {
    text-align: center;
}

.Audio {
    text-align: center;
}

header {
    background-color: #7B2CBF;
}

#moi {
    margin-top: 50px;
}

#divA {
    background-color: #FFF9EB;
    margin-top: 50px;
}

.textA {
    font-size: 35px;
}

#boutonA {
    color: white;
    font-family: Rampart;
    font-size: larger;
    background-image: linear-gradient(to bottom, #7B2CBF, #3C096C);
    margin-left: 170px;
    margin-top: 50px;
}

#boutonA:hover {
    background-image: linear-gradient(to bottom, #3C096C, #3C096C);
}

.card {
    /*Section carte*/
    background-color: #FFF9EB;
    width: 500px;
    height: 500px;
    margin: 50px;
}

p {
    color: #5A189A;
    font-family: CT;
}

.img2 {
    width: auto;
    height: 267px;
}

#boutoncarte {
    color: white;
    font-family: Rampart;
    background-image: linear-gradient(to bottom, #7B2CBF, #3C096C);
    margin-top: 100px;
    /*Permet de placer le bouton correctement dans la carte*/
    margin-left: 150px;
    font-size: larger;
}

#boutoncarte:hover {
    background-image: linear-gradient(to bottom, #3C096C, #3C096C);
}

#divC {
    background-color: #FFF9EB;
    margin-top: 50px;
    height: 120px;
}

.textC {
    font-size: 35px;
}

#moi2 {
    margin-top: 50px;
}

#divC2 {
    background-color: #FFF9EB;
    margin-top: 50px;
    height: 120px;
}
#divC2:hover{
    -webkit-box-shadow: 0px 0px 118px 9px rgba(161, 46, 255, 1);
    -moz-box-shadow: 0px 0px 118px 9px rgba(161, 46, 255, 1);
    box-shadow: 0px 0px 118px 9px rgba(161, 46, 255, 1);
}
#divC3 {
    background-color: #FFF9EB;
    margin-top: 50px;
    height: 120px;

}
#divC3:hover{
    -webkit-box-shadow: 0px 0px 118px 9px rgba(161, 46, 255, 1); /*Code pour effet de glow*/
    -moz-box-shadow: 0px 0px 118px 9px rgba(161, 46, 255, 1);
    box-shadow: 0px 0px 118px 9px rgba(161, 46, 255, 1);
}
.textC2 {
    font-size: 35px;
}

.textC3 {
    font-size: 35px;
}

.sectionC {
    display: flex;
    justify-content: space-between; /*Espacement des deux section*/
}

@media screen and (max-width: 980px) { 
    .sectionC {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /*Espacement des deux section*/
    }
}

.sectionP{
    display: flex;
    flex-direction: column;
    gap: 15px; /*Espacement des deux section*/
    text-align: center;
    font-size: larger;
    margin-top: 15px;
}

#divP{
    background-color: #FFF9EB;
}

#divP2{
    background-color: #FFF9EB;
}

#sectionP2{
    background-color: #5A189A;
    margin-top: 25px;
}

#titreP2{
    color: #FFF9EB;
    text-align: center;
    margin-bottom: 25px;
}

#titrep2{
    color: #FFF9EB;
    text-align: center;
}

#divP3{
    background-color: #FFF9EB;
    text-align: center;
    font-size: larger;
}

#divP4{
    background-color: #10002B;
    text-align: center;
    font-size: larger;
}

#textP2{
    color: #FFF9EB;
}

.imgP{
    width: 45px;
}

.imgP2{
    width: 65px;
}

#sectionPR{
    background-color: #5A189A;
}

#sectionPR2{
    margin-top: 50px;
    background-color: #5A189A;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titrePR{
    color: #FFF9EB;
}

#textPR{
    color: #FFF9EB;
    font-size: larger;
}

#imgPR{
   /* width: 1500px;*/
    margin: 25px;
}